@charset "UTF-8";

/* ロイヤルユタカ詳細テキスト */

div#text {
	height: 313px;
	margin-top: 25px;
}

div#text dl {
	width: 320px;
	height: 313px;
	margin-left: 100px;
	font-size: 0.9em;
	line-height: 1.2em;
	float: left;
}

div#text dt {
	clear: both;
	float: left;
}

div#text dd {
	margin-bottom: 0.8em;
	margin-left: 7.5em;
}

dd.center {
	width: 110px;
	text-align: center;
}
