@charset "UTF-8";

/* 物件紹介ページのCSSです */

div#contents {
	margin-top: 40px;
}

div#contents_yutaka {
	width: 960px;
	height: 300px;
	margin-top: 50px;
}

div#contents_yutaka h2 {
	margin-right: 186px;
	float: right;
}

div#contents_yutaka h2 + p, div#contents_my2 h2 + p, div#contents_hanakawa h2 + p {
	width: 400px;
	margin-left: 30px;
	padding: 5px;
	border: solid 2px #161515;
	float: left;
}

div.show {
	width: 381px;
	margin-top: 25px;
	margin-left: 51px;
	padding: 10px 25px;
	line-height: 1.1em;
	position: relative;
	border: solid 1px #29DCC3;
	float: left;
}

div#contents_my2, div#contents_hanakawa {
	width: 960px;
	height: 300px;
	margin-top: 50px;
}

div#contents_my2 h2 {
	margin-right: 170px;
	float: right;
}

div#contents_hanakawa h2 {
	margin-right: 133px;
	float: right;
}

span {
	white-space: nowrap;
}
